{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #post-card { margin-top: 20px;}
        .media {  border-top: 1px solid #b1dfbb; padding: 20px 10px; }
        .media:first-child { border-top: 0px solid #b1dfbb; }
    </style>
    <div class="container">

        <form  action="" method="GET">
            <input class="" type="text" name="word" size="100" minlength="1" maxlength="50" />
            <input class="btn btn-primary" type="submit" value="search" />
        </form>

        <div id="post-card" class="card">
            <div class="card-header">
                List posts
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for post in posts %}
                        <li class="media">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{ post.title }}
                                    <small>

                                    {% if post.status == 1 %}
                                        <span class="badge  badge-primary " >Publish</span>
                                    {% else %}
                                        <span class="badge badge-success ">Published</span>
                                    {% endif %}
                                    </small>
                                    <div class="float-right">

                                        <a class="badge badge-primary " href="{{ path("post_show", { id: post.id }) }}">show</a>
                                        <a class="badge badge-primary " href="{{ path("post_edit", { id: post.id }) }}">edit</a>
                                    </div>

                                </h5>
                                {{ post.body }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>





        <br />
        <a href="{{ path("post_new") }}" class="btn btn-primary  " role="button" aria-pressed="true">Create new post</a>
    </div>
{% endblock body %}