{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #post-card { margin-top: 20px; }
        .media {  border-top: 1px solid #b1dfbb; padding: 20px 10px; }
        .media:first-child { border-top: 0px solid #b1dfbb; }
        form { display: inline; }
    </style>
    <div class="container">

        <div id="post-card" class="card">
            <div class="card-header">
               <h3>{{ post.title }}</h3>
            </div>
            <img src="{{ vich_uploader_asset(post, 'coverImageFile') }}" alt="">

            <div class="card-body">
                {# post.body | striptags("<p><b><div><ul><li><ol>") | raw  #}
                {{ post.body  | raw   }}
            </div>
        </div>

        <hr />

        <a href="{{ path("post_index") }}" class="btn btn-primary  " role="button" aria-pressed="true">Return Lists</a>
        <a href="{{ path("post_edit", { id: post.id }) }}" class="btn btn-primary  " role="button" aria-pressed="true">Edit</a>

        {{ form_start(deleteForm) }}
        <input type="submit" class="btn btn-primary" value="Delete"/>
        {{ form_end(deleteForm) }}

        {% if post.status == 1 %}
            {{ form_start(publishForm) }}
            <input type="submit" class="btn btn-primary" value="Publish"/>
            {{ form_end(publishForm) }}
        {% endif %}
    </div>
{% endblock body %}